@loom24:registry=https://us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/
//us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/:always-auth=true
//us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/:_authToken=ya29.a0AT3oNZ-jyS4b0KD7CTWvDQ8yQc0HoKY9qJO7_7-ePowSNhyPr9t_788CvCtfLRauUbbbfThvma9l2HEdiG_x1km_r_m4K6_G-HiXcS2bsAKI_L_YCRNT7Pnk-2kmCjiwdHZh4I1RE0hhRRpYKtyad4z43ajLivPnvdKrexd-ce65KpFWEdJMdrYO5ki_yteFqOa7fZJaaCgYKAe0SARISFQHGX2MiqxENpifUcbusEqKHpn7f7w0207