@loom24:registry=https://us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/
//us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/:always-auth=true
//us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/:_authToken=ya29.a0AT3oNZ-dmZ3HAhhDBykBlEogcUjsQC8kp4Q4lZa18TF-qDMGkSyMFZLCmlnVqDwg8zkxqjkvK6nV8zgznKnIb_5MGVf_trrmdrcpGpn8md-fOZt5tb2Lp94j9THKs7Y4q9kWzL7A4LWlA_x64ZbBkhTpE8JyNfbsACw4c0u8GDKr1tEFTXbcRenDSzAkHS6I5Df5NDSpaCgYKAesSARISFQHGX2MidXXYlhBQfaJY9onkmEK_PQ0207