SERVICE_NAME=cropper
PROJECT_ID=
BUCKET_NAME=
JOB_MANAGER_URL=
SUBSCRIPTION_ID=cropper-sub
WORKFLOW_MANAGER_TOPIC=workflow-manager
MAX_CONCURRENT_MESSAGES=10
GOOGLE_APPLICATION_CREDENTIALS=
YOLO_MODEL=models/yolo11n-pose.pt
GLOG_minloglevel=2
