PORT=3800
SERVICE_NAME=cropper
BUCKET_NAME=loom24-mvp.firebasestorage.app
GOOGLE_APPLICATION_CREDENTIALS=/root/.config/gcloud/gcp-json-key.json
JOB_MANAGER_URL=http://job-manager:3001
MAX_CONCURRENT_CROPS=5
GUNICORN_WORKERS=2
YOLO_MODEL=models/yolo11n-pose.pt
