@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@theme {
  /* This overrides the default 'font-sans' used by Tailwind */
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@keyframes tw-cursor-blink {
  0%, 100% { opacity: 0.7; }
  50% { opacity: 0; }
}