@loom24:registry=https://us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/
//us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/:always-auth=true
//us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/:_authToken=ya29.a0AT3oNZ-TrG5IYifynFGnyrVcBZlESoPFFs_RsoANdXILyw9OxTfolZQ4Fq5fxZLncsgSIBnsy35mGZhEXGCHKBFTK6OAEq40lsAE2E023ei6DatmsmFTIpBz-YrfSq7va7Hpsz6Ta6tEVhP_qUlLd96lc7ung_KNTiY7-QKHJ4Dye5DnBpQuCM9z52cwP90V6i17QNlKaCgYKAQUSARISFQHGX2MiQwp2Y59XxmW6uAdwYxq36Q0207