Pillow==12.2.0
safetensors==0.7.0
torch==2.8.0
torchvision==0.23.0
numpy==2.4.4
opencv-python==4.13.0.92
accelerate==1.13.0
diffusers==0.37.1
huggingface_hub==1.8.0
transformers==5.4.0
google-cloud-pubsub==2.36.0
google-cloud-storage==3.10.1
google-cloud-firestore==2.26.0
insightface==0.7.3
onnxruntime-gpu==1.24.4
scipy==1.17.1
filelock==3.25.2
peft==0.18.1
torchao==0.15.0
optimum-quanto==0.2.4
pydantic==2.12.5