@loom24:registry=https://us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/
//us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/:always-auth=true
//us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/:_authToken=ya29.a0AT3oNZ_BMPI7vJglFUM9Lb2ACQfTzR8Bd0oaRguN5tM2ob_sDlkG_VTVkIS8o_F5KoQHJzhPhLVvhKfjBqlcEulPJ8JhmNQAOgouIm-e-FJSDeJXXH6utbC2YqeE63Fj3W07Qb8faWQuzxK4-hY23VCWN4Q9YEtV6Vo5xxKaaFWUZp6bv8q6NDSGLlAOHX2uJl_BSRs6aCgYKAaESARISFQHGX2MivithJGTYqzp-nFth1BTH_w0207