@loom24:registry=https://us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/
//us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/:always-auth=true
//us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/:_authToken=ya29.a0AT3oNZ-CEty2tjVFgOeOvThwgM3CJWyI0ry8Ne7fq-m1U6iyqwQ61qcSuhrhUh4udR63HZOzsJbfjH-4buvfnVD33nu8bhXe2_Od_mboAJ5oATX8v2EjJ2SXfit2OxAQHMx0XjDlW75RqQi6uhE6wDRNlYaU2IjW8ynPUqkqKE4Pdy3MsJ3d88YFUBJ4IHrIvrWLE5aUaCgYKASYSARISFQHGX2Mi3_y4PUMg7nyTrrNe-gBlnw0207