@loom24:registry=https://us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/
//us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/:always-auth=true
//us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/:_authToken=ya29.a0AT3oNZ86IUDjLc9Q9ANUp01PG3XTWbFutNpeQjSXCs5w3WStAm9hwMYO9b50vOuY9bwtrsd0j5gfhQBc0B-NTsFjsqxjSVBB0wb0g3MeL1olD8C8Y2SfbxshMSCeOAim0fNBFOUYtMugcqrcXFkxIvxXX5UtlYBJdW_TBW15Lhv03RZuzKoxODVquyl9yMH4_ilJvVm_aCgYKASgSARISFQHGX2Mis4zOOmRjrBnFgt1IXTsIaQ0207