@loom24:registry=https://us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/
//us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/:always-auth=true
//us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/:_authToken=ya29.a0AT3oNZ9dt4OxLnVdObsbcbDQ0tl-ZC0ymhWlAz3BbTdVqm8N5CYS7z6T3nNQ6jd8aKBE4jC2vt1VA7wLDJA0-MUzcVxO-C69EJzaqArBRwZY_65xQd1cxAqvmbgsGHP5dfeupycKj8GtOgj9ThSeh3ClfRtxLBEW2uGr0m_ui6EGbDo20J_I6hC0Z8NHb49o_5AD7eMUaCgYKAQsSARISFQHGX2Mi8xfMpm2SbkaR97S8-ZgfBA0207