@loom24:registry=https://us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/
//us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/:always-auth=true
//us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/:_authToken=ya29.a0AT3oNZ8PU_l8BtadBEWaDV419o1bgtfpkAwt7Zv57zPgb9S8FakLaBVjM6vcvLAvmsTdsixt1b_1D-Zgp0kyVzoIpGskPUK6IZkrwJSfKdiZlT-KtN0oY1symkjHIzVJWmzESjjZid3IRdfmd86LkgQ8-Jx5qnbqzf2wRgW8RVfhzY2caBZHH4LZFU1FjQ3wDu5ARNnDaCgYKATMSARISFQHGX2MiDm7qEYxudFQ7l01iD8spBg0207