@loom24:registry=https://us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/
//us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/:always-auth=true
//us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/:_authToken=ya29.a0AT3oNZ_IQ6QHD6oiP1EMOrUeq8VpiVeOWhw-2yU-x3vC9_6a23itsZdXdVSkU3zlLTUo40PITdo2IKBypdE3gWUXOkoLLlzfmuS7J8TItghq-yQzoVJfTTHx9hwaq7Fu275DrooOfw-42O0ssT_KgltJvRM0SsIINLyaLBFswHtgOuZhK8BIghxkIhpK1Y6Qo370rj53aCgYKAe8SARISFQHGX2MiZuU_UvZrFk90UFDnGmCrog0207