PROJECT_ID=
SERVICE_NAME=face-matcher
BUCKET_NAME=
GOOGLE_APPLICATION_CREDENTIALS=
JOB_MANAGER_URL=
SUBSCRIPTION_ID=face-matcher-sub
WORKFLOW_MANAGER_TOPIC=workflow-manager
POOL_SIZE=1
MAX_CONCURRENT_MESSAGES=1
INSIGHTFACE_MODEL=buffalo_l
INSIGHTFACE_ROOT=/models/insightface
EMBEDDING_CACHE_TTL=3600
EMBEDDING_CACHE_MAX_SIZE=500
