@loom24:registry=https://us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/
//us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/:always-auth=true
//us-central1-npm.pkg.dev/loom24-mvp/loom24-npm/:_authToken=ya29.a0AT3oNZ_vxwChMVXMuvw6He0lMXhBYFMx2N4xFi_iOOhh-3rLbs8SLhr-GdP7gJQhPHKW_Nvsfx5WkL3SjnCzIbofeFrymrKPcSmYSAo_JoOmXKifGxmIsd0dWI31j7U-t-RZElop-Dc7loTAb81OJP2PpYBBEN5Ou5-b04DSEo3YPjGKaKb7-HFKMMUkU2kKInmoAelwaCgYKAfISARISFQHGX2Mi_VEXUQXLwcrm4rZCANQJcg0207